<%= form_with(model: session) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
        <% session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, :start_year => 2007 %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :obs_code %>
    <%= form.text_field :obs_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
