<%= form_with(model: source) do |form| %>
  <% if source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="w3-row">

    <div class="w3-col w3-container" style="width:30%">
      <%= form.label :be1950name, "Source Name (BE1950)" %>
      <%= form.text_field :be1950name, class: "w3-input w3-border w3-round" %>
    </div>

    <div class="w3-col w3-container" style="width:30%">
      <%= form.label :alt_name %>
      <%= form.text_field :alt_name, class: "w3-input w3-border w3-round" %>
    </div>

    <div class="w3-col w3-container" style="width:20%">
      <%= form.label :redshift %>
      <%= form.text_field :redshift, class: "w3-input w3-border w3-round" %>
    </div>

    <div class="w3-col w3-container" style="width:20%">
      <%= form.label :source_type %>
      <%= form.text_field :source_type, class: "w3-input w3-border w3-round" %>
    </div>


    <div class="w3-col w3-container" style="width:33.3%">
      <%= form.label :ra %>
      <%= form.text_field :ra, class: "w3-input w3-border w3-round" %>
    </div>

    <div class="w3-col w3-container" style="width:33.3%">
      <%= form.label :decl %>
      <%= form.text_field :decl, class: "w3-input w3-border w3-round" %>
    </div>

    <div class="w3-col w3-container" style="width:33.3%">
      <%= form.label :atca_link %>
      <%= form.text_field :atca_link, class: "w3-input w3-border w3-round" %>
    </div>


    <div class="w3-col w3-container" style="width:100%">
      <%= form.label :comment %>
      <%= form.text_area :comment, class: "w3-input w3-border w3-round" %>
    </div>

  </div>

  <p></p>

  <div class="w3-row">

    <div class="w3-col w3-container">
      <%= form.submit :Submit, class:"w3-btn w3-blue" %>
    </div>

  </div>

  <% end %>
