<p id="notice"><%= notice %></p>
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
  <h1>Sources</h1>

<div class="w3-responsive">
  <table class="w3-table-all">
    <thead>
      <tr>
        <th>Source Name</th>
        <th>Alt name</th>
        <th>RA</th>
        <th>Decl</th>
        <th>Comment</th>
        <th>ATCA Link</th>
        <th>Source Type</th>
        <th>Redshift</th>
        <% if user_signed_in? %>
          <% if current_user.delete_permission %>
            <th colspan="2"></th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @sources.order(:be1950name).each do |source| %>
        <tr>
          <td><%= link_to source.be1950name, source %></td>
          <td><%= source.alt_name %></td>
          <td><%= source.ra %></td>
          <td><%= source.decl %></td>
          <td><%= source.comment %></td>
          <td><%= source.atca_link %></td>
          <td><%= source.source_type %></td>
          <td><%= source.redshift %></td>
          <% if user_signed_in? %>
            <% if current_user.delete_permission %>
              <td><%= link_to 'Edit', edit_source_path(source), class: "w3-btn w3-green" %></td>
              <td><%= link_to 'Destroy', source, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-red" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <br>

  <%= link_to 'New Source', new_source_path, class: "w3-btn w3-blue" %>
  
</div>
</div>