<p id="notice"><%= notice %></p>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div clas="w3-col">
      <h1><%= @source.be1950name %></h1>
    </div>
    <div class="w3-col w3-container" style="width:40%">

      <div class="w3-card-4">
        <% if @source.sessions.first != nil%>
          <% if Dataset.all.where(:session_id => @source.sessions.order(:data).first.id, :source_id => @source.id,:public => true).exists? %>
            <% if Dataset.all.where(:session_id => @source.sessions.order(:data).first.id, :source_id => @source.id,:public => true).first.image.attached? %>  
              <%= image_tag(Dataset.all.where(:session_id => @source.sessions.order(:data).first.id, :source_id => @source.id, :public => true).first.image ,width: "100%",alt: "No Image Available")%>
                <div class="w3-container w3-center">
                  <p>Latest source image from <%=@source.sessions.order(:data).first.data%></p>
                </div>
            <% else %>
            <img alt="No Image Available">
            <div class="w3-container w3-center">
              <p>No source image available</p>
            </div>
            <% end %>
          <% else %>
            <img alt="No Image Available">
            <div class="w3-container w3-center">
              <p>No source image available</p>
            </div>
          <% end %>
        <% else %>
          <img alt="No Image Available">
          <div class="w3-container w3-center">
            <p>No source image available</p>
          </div>        
        <% end %>

      </div> 

    </div>

    <div class="w3-col w3-container" style="width:60%">

      <p>
        <strong>Alt name:</strong>
        <%= @source.alt_name %>
      </p>

      <p>
        <strong>Ra:</strong>
        <%= @source.ra %>
      </p>

      <p>
        <strong>Decl:</strong>
        <%= @source.decl %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= @source.comment %>
      </p>

      <p>
        <strong>Atca link:</strong>
        <%= @source.atca_link %>
      </p>

      <p>
        <strong>Source Type:</strong>
        <%= @source.source_type %>
      </p>

      <p>
        <strong>Redshift:</strong>
        <%= @source.redshift %>
      </p>

      <% if user_signed_in? %>
        <% if current_user.delete_permission %>
          <%= link_to 'Edit', edit_source_path(@source), class: "w3-btn w3-green" %>
        <% end %>
      <% end %>
      <%= link_to 'Back', sources_path, class: "w3-btn w3-red" %>
      </div>
    </div>

  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <h1> Datasets </h1>
    <div class="w3-responsive">
      <table class="w3-table-all">
          <tr>
            <th>Image</th>
            <th>Source</th>
            <th>Session</th>
            <th>Band</th>
            <th>RMS [mJy/beam]</th>
            <th>Lowest Contour [mJy/beam]</th>
            <th>Peak Flux Density [Jy/beam]</th>
            <th>Beam [mas x max], [deg]</th>
            <% if user_signed_in? %>
              <% if current_user.delete_permission %>
                <th colspan="4"></th>
              <% else %>
                <th colspan="2"></th>
              <% end %>
            <% else %>
              <th colspan="2"></th>
            <% end %>
          </tr>
        </thead>

<!-- PUBLIC VERSION OF TABLE -->

          <tbody>
            <% @source.datasets.where(:public => true).order(:data).each do |dataset| %>
              <tr>
                <% if dataset.image.attached? %>
                <td><%= image_tag(dataset.image,width: "100%") %></td>
                <% else %>
                <td>Image missing</td>
                <% end %>
                <td><%= link_to dataset.source.be1950name, dataset.source %></td>
                <td><%= link_to dataset.session.data, dataset.session %></td>
                <td><%= dataset.band.name %></td>
                <td><%= dataset.rms %></td>
                <td><%= dataset.lowest_contour %></td>
                <td><%= dataset.peak_flux %></td>
                <td><%= dataset.beam_maj %>  x <%= dataset.beam_min %>, <%= dataset.beam_pos%></td>
                <% if dataset.uvf.attached? %>
                <td><%= link_to 'uvf', dataset.uvf %></td>
                <% else %>
                <td> no uvf </td>
                <% end %>
                <% if dataset.fits.attached? %>
                <td><%= link_to 'fits', dataset.fits %></td>
                <% else %>
                <td>no fits</td>
                <% end %>
                <% if user_signed_in? %>
                  <% if current_user.delete_permission %>
                    <td><%= link_to 'Edit', edit_dataset_path(dataset), class: "w3-btn w3-green" %></td>
                    <td><%= link_to 'Destroy', dataset, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-red" %></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>


<!-- LOGIN VERSION OF TABLE -->

<% if user_signed_in? %>

  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">

      <h1> Observations (non public) </h1>
      <div class="w3-responsive">
        <table class="w3-table-all">
            <tr>
              <th></th>
              <th>Source</th>
              <th>Session</th>
              <th>Band</th>
              <th>Status</th>
              <% if current_user.delete_permission %>
                <th colspan="3"></th>
              <% else %>
                <th colspan="1"></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @source.observations.order(:data).each do |observation| %>
              <tr>
                <td>Show Datasets</td>
                <td><%= link_to observation.source.be1950name, observation.source %></td>
                <td><%= link_to observation.session.data, observation.session %></td>
                <td><%= observation.band.name %></td>
                <td> 
                  <% count=count_public_datasets(observation) %>
                  <% if count==1 %>
                    All Good
                  <% elsif count==1 and observation.datasets.length>1 %>
                    All good, can remove old images
                  <% elsif count>1 %>
                    WARNING, more than 1 public dataset!
                  <% elsif count==0 and observation.datasets.length>0 %>
                    Please choose public dataset
                  <% elsif count==0 and observation.datasets.length==0 %>
                    NO DATA
                  <% end %>
                </td>
                <% if observation.calibrated_uvf.attached? %>
                <td><%= link_to 'uvf', observation.calibrated_uvf %></td>
                <% else %>
                <td> no uvf </td>
                <% end %>
                <% if current_user.delete_permission %>
                  <td><%= link_to 'Show', observation_url(observation), class: "w3-btn w3-green" %></td>
                  <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-red" %></td>
                <% end %>
              </tr>


              <table class="w3-table-all">
                <tr>
                  <th></th>



                </tr>

              </table>

            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>



</div>
</div>