<p id="notice"><%= notice %></p>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div clas="w3-col">
      <h1><%= @source.be1950name %></h1>
    </div>
    <div class="w3-col w3-container" style="width:40%">

      <div class="w3-card-4">
        <% if Dataset.all.where(:session_id => @source.sessions.order(:data).first.id, :source_id => @source.id).first.image.attached? %>  
          <%= image_tag(Dataset.all.where(:session_id => @source.sessions.order(:data).first.id, :source_id => @source.id).first.image ,width: "100%",alt: "No Image Available")%>
        <% else %>
        <img alt="No Image Available">
        <% end %>
        <div class="w3-container w3-center">
          <p>Latest source image of <%=@source.sessions.order(:data).first.data%></p>
        </div>
      </div> 

    </div>

    <div class="w3-col w3-container" style="width:60%">

      <p>
        <strong>Alt name:</strong>
        <%= @source.alt_name %>
      </p>

      <p>
        <strong>Ra:</strong>
        <%= @source.ra %>
      </p>

      <p>
        <strong>Decl:</strong>
        <%= @source.decl %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= @source.comment %>
      </p>

      <p>
        <strong>Atca link:</strong>
        <%= @source.atca_link %>
      </p>

      <p>
        <strong>Source Type:</strong>
        <%= @source.source_type %>
      </p>

      <p>
        <strong>Redshift:</strong>
        <%= @source.redshift %>
      </p>

      <%= link_to 'Edit', edit_source_path(@source) %> |
      <%= link_to 'Back', sources_path %>
      </div>
    </div>

  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <h1> Observations </h1>
    <div class="w3-responsive">
      <table class="w3-table-all">
          <tr>
            <th>Image</th>
            <th>Source</th>
            <th>Session</th>
            <th>Band</th>
            <th>RMS [mJy/beam]</th>
            <th>Lowest Contour [mJy/beam]</th>
            <th>Peak Flux Density [Jy/beam]</th>
            <th>Beam [mas x max], [deg]</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @source.datasets.order(:data).each do |dataset| %>
            <tr>
              <% if dataset.image.attached? %>
              <td><%= image_tag(dataset.image,width: "100%") %></td>
              <% else %>
              <td>Image missing</td>
              <% end %>
              <td><%= link_to dataset.source.be1950name, dataset.source %></td>
              <td><%= link_to dataset.session.data, dataset.session %></td>
              <td><%= dataset.band.name %></td>
              <td><%= dataset.rms %></td>
              <td><%= dataset.lowest_contour %></td>
              <td><%= dataset.peak_flux %></td>
              <td><%= dataset.beam_maj %>  x <%= dataset.beam_min %>, <%= dataset.beam_pos%></td>
              <% if dataset.uvf.attached? %>
              <td><%= link_to 'uvf', dataset.uvf %></td>
              <% else %>
              <td> no uvf </td>
              <% end %>
              <% if dataset.fits.attached? %>
              <td><%= link_to 'fits', dataset.fits %></td>
              <% else %>
              <td>no fits</td>
              <% end %>
              <td><%= link_to 'Edit', edit_dataset_path(dataset), class: "w3-btn w3-green" %></td>
              <td><%= link_to 'Destroy', dataset, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-red" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


</div>
</div>