<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table>
  <thead>
    <tr>
      <th>Authors</th>
      <th>Title</th>
      <th>Reference</th>
      <th>Ads link</th>
      <th>Arxiv link</th>
      <th>Pdf link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.authors %></td>
        <td><%= publication.title %></td>
        <td><%= publication.reference %></td>
        <td><%= publication.ads_link %></td>
        <td><%= publication.arxiv_link %></td>
        <td><%= publication.pdf_link %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
