<p id="notice"><%= notice %></p>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
  <p>
    <strong>Authors:</strong>
    <%= @publication.authors %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @publication.title %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= @publication.reference %>
  </p>

  <p>
    <strong>Ads link:</strong>
    <%= @publication.ads_link %>
  </p>

  <p>
    <strong>Arxiv link:</strong>
    <%= @publication.arxiv_link %>
  </p>

  <p>
    <strong>Pdf link:</strong>
    <%= @publication.pdf_link %>
  </p>

<% if user_signed_in? %>
  <% if current_user.delete_permission %>
    <%= link_to 'Edit', edit_publication_path(@publication) %> |
  <% end %>
<% end %>
  <%= link_to 'Back', publications_path %>
</div>
</div>
