<p id="notice"><%= notice %></p>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
<p>
  <strong>Image:</strong>
<% if @dataset.image.attached? %>
 <%= image_tag(@dataset.image,width: 200) %>
<% else %>
No Image available
<% end %>
</p>

<p>
  <strong>uvf:</strong>
  <% if @dataset.uvf.attached? %>
    <%= link_to 'uvf Download', @dataset.uvf %>
  <% else %>
    no uvf
  <% end %>
</p>

<p>
  <strong>Rms:</strong>
  <%= @dataset.rms %>
</p>

<p>
  <strong>Lowest contour:</strong>
  <%= @dataset.lowest_contour %>
</p>

<p>
  <strong>Peak flux:</strong>
  <%= @dataset.peak_flux %>
</p>

<p>
  <strong>Beam maj:</strong>
  <%= @dataset.beam_maj %>
</p>

<p>
  <strong>Beam min:</strong>
  <%= @dataset.beam_min %>
</p>

<p>
  <strong>Beam pos:</strong>
  <%= @dataset.beam_pos %>
</p>

<% if user_signed_in? %>
  <% if current_user.delete_permission? %>
    <%= link_to 'Edit', edit_dataset_path(@dataset) %> |
  <% end %>
<% end %>
<%= link_to 'Back', datasets_path %>
</div>
</div>