<%= form_with(model: band) do |form| %>
  <% if band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
        <% band.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w3-row">
    <div class="w3-col w3-container" style="width:30%">
      <%= form.label :name %>
      <%= form.text_field :name, class: "w3-input w3-border w3-round" %>
    </div>

    <div class="w3-col w3-container" style="width:30%">
      <%= form.label :freq, "Frequency [GHz]" %>
      <%= form.text_field :freq, class: "w3-input w3-border w3-round" %>
    </div>
  </div>

<p></p>

  <div class="w3-row">
    <div class="w3-col w3-container">
      <%= form.submit :Submit, class:"w3-btn w3-blue" %>  
    </div>
  </div>
<% end %>
