<p id="notice"><%= notice %></p>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
  <h1>Bands</h1>

  <div class="w3-responsive">
    <table class="w3-table-all">
      <thead>
        <tr>
          <th>Band Name</th>
          <th>Frequency [GHz]</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @bands.each do |band| %>
          <tr>
            <td><%= link_to band.name, band %></td>
            <td><%= band.freq %></td>        
            <td><%= link_to 'Edit', edit_band_path(band), class: "w3-btn w3-green" %></td>
            <td><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-btn w3-red" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<br>

<%= link_to 'New Band', new_band_path, class:"w3-btn w3-blue" %>


</div>
</div>

<br>
