<p id="notice"><%= notice %></p>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
  <p>
    <strong>Name:</strong>
    <%= @band.name %>
  </p>

  <p>
    <strong>Freq:</strong>
    <%= @band.freq %>
  </p>

  <%= link_to 'Edit', edit_band_path(@band) %> |
  <%= link_to 'Back', bands_path %>
</div>
</div>
