<!DOCTYPE html>
<html lang="en">
<head>
<title>TANAMI Database</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= stylesheet_link_tag 'w3' %>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <%= link_to 'Home' , root_path, class: "w3-bar-item w3-button w3-padding-large w3-white" %>
    <% if user_signed_in? %>
      <%= link_to 'Sources', sources_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
      <%= link_to 'Sessions', sessions_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
      <%= link_to 'Data', datasets_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
      <%= link_to 'Bands', bands_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
      <%= link_to 'Observations', observations_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
    <% end %>
    <%= link_to 'Publications', publications_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
    <% if user_signed_in? %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: "w3-bar-item w3-button w3-hide-small w3-padding-large w3-black w3-hover-white" %>
    <% end %>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <%= link_to 'Sources', sources_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to 'Sessions', sessions_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to 'Data', datasets_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to 'Bands', bands_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to 'Publications', publications_path, class: "w3-bar-item w3-button w3-padding-large" %>
    <%= link_to 'Observations', observations_path, class: "w3-bar-item w3-button w3-padding-large" %>
  </div>
</div>


<div class="w3-panel w3-red">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

    <%= yield %>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>© 2023 Copyright: University of Würzburg</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>


  </body>
</html>
